In [23]:
import numpy as np
import pandas as pd

In [24]:
# load Data
data = pd.read_excel('BA_AirlineReviews_CL_excel.xlsx')
display(data.head())
data.describe()

,id,Satisfaction,ReviewHeader,Name,Datetime,VerifiedReview,ReviewBody,TypeOfTraveller,SeatType,Route,DateFlown,SeatComfort,CabinStaffService,GroundService,ValueForMoney,Recommended,Aircraft,Food&Beverages,InflightEntertainment,Wifi&Connectivity
0,0,Very Dissatisfied,"""Service level far worse then Ryanair""",L Keele,19th November 2023,True,4 Hours before takeoff we received a Mail stat...,Couple Leisure,Economy Class,London to Stuttgart,2023-11-01,1.0,1.0,1.0,1.0,no,NaN,NaN,NaN,NaN
1,1,Neutral,"""do not upgrade members based on status""",Austin Jones,19th November 2023,True,I recently had a delay on British Airways from...,Business,Economy Class,Brussels to London,2023-11-01,2.0,3.0,1.0,2.0,no,A320,1.0,2.0,2.0
2,2,Enthusiastic,"""Flight was smooth and quick""",M A Collie,16th November 2023,False,"Boarded on time, but it took ages to get to th...",Couple Leisure,Business Class,London Heathrow to Dublin,2023-11-01,3.0,3.0,4.0,3.0,yes,A320,4.0,NaN,NaN
3,3,Very Dissatisfied,"""Absolutely hopeless airline""",Nigel Dean,16th November 2023,True,"5 days before the flight, we were advised by B...",Couple Leisure,Economy Class,London to Dublin,2022-12-01,3.0,3.0,1.0,1.0,no,NaN,NaN,NaN,NaN
4,4,Very Dissatisfied,"""Customer Service is non existent""",Gaylynne Simpson,14th November 2023,False,"We traveled to Lisbon for our dream vacation, ...",Couple Leisure,Economy Class,London to Lisbon,2023-11-01,1.0,1.0,1.0,1.0,no,NaN,1.0,1.0,1.0

,id,SeatComfort,CabinStaffService,GroundService,ValueForMoney,Food&Beverages,InflightEntertainment,Wifi&Connectivity
count,3701.000000,3585.000000,3574.000000,2855.000000,3700.000000,3315.000000,2551.000000,609.000000
mean,1850.000000,2.875314,3.254057,2.784238,2.688378,2.713122,2.646021,1.924466
std,1068.531001,1.362081,1.489709,1.457058,1.471887,1.437092,1.398509,1.352705
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,925.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,1850.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,1.000000
75%,2775.000000,4.000000,5.000000,4.000000,4.000000,4.000000,4.000000,3.000000
max,3700.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [26]:
print(data)

        id       Satisfaction                              ReviewHeader  \
0        0  Very Dissatisfied    "Service level far worse then Ryanair"
1        1            Neutral  "do not upgrade members based on status"
2        2       Enthusiastic             "Flight was smooth and quick"
3        3  Very Dissatisfied             "Absolutely hopeless airline"
4        4  Very Dissatisfied        "Customer Service is non existent"
...    ...                ...                                       ...
3696  3696  Very Dissatisfied           British Airways customer review
3697  3697           Advocate           British Airways customer review
3698  3698     Very Satisfied           British Airways customer review
3699  3699          Satisfied           British Airways customer review
3700  3700          Satisfied           British Airways customer review

                  Name            Datetime  VerifiedReview  \
0              L Keele  19th November 2023            True
1         Austin Jones  19th November 2023            True
2           M A Collie  16th November 2023           False
3           Nigel Dean  16th November 2023            True
4     Gaylynne Simpson  14th November 2023           False
...                ...                 ...             ...
3696       J Robertson    29th August 2012           False
3697        Nick Berry    28th August 2012           False
3698     Avril Barclay   12th October 2011           False
3699            C Volz   11th October 2011           False
3700         Russ King    9th October 2011           False

                                             ReviewBody TypeOfTraveller  \
0     4 Hours before takeoff we received a Mail stat...  Couple Leisure
1     I recently had a delay on British Airways from...        Business
2     Boarded on time, but it took ages to get to th...  Couple Leisure
3     5 days before the flight, we were advised by B...  Couple Leisure
4     We traveled to Lisbon for our dream vacation, ...  Couple Leisure
...                                                 ...             ...
3696  This was a bmi Regional operated flight on a R...             NaN
3697  LHR to HAM. Purser addresses all club passenge...             NaN
3698  My son who had worked for British Airways urge...             NaN
3699  London City-New York JFK via Shannon on A318 b...             NaN
3700  SIN-LHR BA12 B747-436 First Class. Old aircraf...             NaN

             SeatType                      Route  DateFlown  SeatComfort  \
0       Economy Class        London to Stuttgart 2023-11-01          1.0
1       Economy Class         Brussels to London 2023-11-01          2.0
2      Business Class  London Heathrow to Dublin 2023-11-01          3.0
3       Economy Class           London to Dublin 2022-12-01          3.0
4       Economy Class           London to Lisbon 2023-11-01          1.0
...               ...                        ...        ...          ...
3696    Economy Class                        NaN        NaT          3.0
3697   Business Class                        NaN        NaT          4.0
3698    Economy Class                        NaN        NaT          NaN
3699  Premium Economy                        NaN        NaT          1.0
3700      First Class                        NaN        NaT          4.0

      CabinStaffService  GroundService  ValueForMoney Recommended Aircraft  \
0                   1.0            1.0            1.0          no      NaN
1                   3.0            1.0            2.0          no     A320
2                   3.0            4.0            3.0         yes     A320
3                   3.0            1.0            1.0          no      NaN
4                   1.0            1.0            1.0          no      NaN
...                 ...            ...            ...         ...      ...
3696                1.0            NaN            3.0          no      NaN
3697                5.0            NaN            3.0         yes      NaN
3698                NaN            NaN            4.0         yes      NaN
3699                3.0            NaN            1.0          no      NaN
3700                5.0            NaN            2.0          no      NaN

      Food&Beverages  InflightEntertainment  Wifi&Connectivity
0                NaN                    NaN                NaN
1                1.0                    2.0                2.0
2                4.0                    NaN                NaN
3                NaN                    NaN                NaN
4                1.0                    1.0                1.0
...              ...                    ...                ...
3696             2.0                    NaN                NaN
3697             4.0                    NaN                NaN
3698             NaN                    NaN                NaN
3699             5.0                    NaN                NaN
3700             5.0                    2.0                NaN

[3701 rows x 20 columns]

In [25]:
data.isnull().sum()

id                          0
Satisfaction                0
ReviewHeader                0
Name                        0
Datetime                    0
VerifiedReview              0
ReviewBody                  0
TypeOfTraveller           771
SeatType                    2
Route                     775
DateFlown                 778
SeatComfort               116
CabinStaffService         127
GroundService             846
ValueForMoney               1
Recommended                 0
Aircraft                 1779
Food&Beverages            386
InflightEntertainment    1150
Wifi&Connectivity        3092
dtype: int64

In [ ]:
import tensorflor.keras as keras
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler