In [90]:
import numpy as np
import pandas as pd

In [91]:
# load Data
data = pd.read_excel('BA_AirlineReviews_CL_excel.xlsx')
display(data.head())
data.describe()

,id,Satisfaction,ReviewHeader,Name,Datetime,VerifiedReview,ReviewBody,TypeOfTraveller,SeatType,Route,DateFlown,SeatComfort,CabinStaffService,GroundService,ValueForMoney,Recommended,Aircraft,Food&Beverages,InflightEntertainment,Wifi&Connectivity
0,0,Very Dissatisfied,"""Service level far worse then Ryanair""",L Keele,19th November 2023,True,4 Hours before takeoff we received a Mail stat...,Couple Leisure,Economy Class,London to Stuttgart,2023-11-01,1.0,1.0,1.0,1.0,no,NaN,NaN,NaN,NaN
1,1,Neutral,"""do not upgrade members based on status""",Austin Jones,19th November 2023,True,I recently had a delay on British Airways from...,Business,Economy Class,Brussels to London,2023-11-01,2.0,3.0,1.0,2.0,no,A320,1.0,2.0,2.0
2,2,Enthusiastic,"""Flight was smooth and quick""",M A Collie,16th November 2023,False,"Boarded on time, but it took ages to get to th...",Couple Leisure,Business Class,London Heathrow to Dublin,2023-11-01,3.0,3.0,4.0,3.0,yes,A320,4.0,NaN,NaN
3,3,Very Dissatisfied,"""Absolutely hopeless airline""",Nigel Dean,16th November 2023,True,"5 days before the flight, we were advised by B...",Couple Leisure,Economy Class,London to Dublin,2022-12-01,3.0,3.0,1.0,1.0,no,NaN,NaN,NaN,NaN
4,4,Very Dissatisfied,"""Customer Service is non existent""",Gaylynne Simpson,14th November 2023,False,"We traveled to Lisbon for our dream vacation, ...",Couple Leisure,Economy Class,London to Lisbon,2023-11-01,1.0,1.0,1.0,1.0,no,NaN,1.0,1.0,1.0

,id,SeatComfort,CabinStaffService,GroundService,ValueForMoney,Food&Beverages,InflightEntertainment,Wifi&Connectivity
count,3701.000000,3585.000000,3574.000000,2855.000000,3700.000000,3315.000000,2551.000000,609.000000
mean,1850.000000,2.875314,3.254057,2.784238,2.688378,2.713122,2.646021,1.924466
std,1068.531001,1.362081,1.489709,1.457058,1.471887,1.437092,1.398509,1.352705
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,925.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,1850.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,1.000000
75%,2775.000000,4.000000,5.000000,4.000000,4.000000,4.000000,4.000000,3.000000
max,3700.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [92]:
# melihat tipe data pada setiap kolom
print(data.dtypes)

id                                int64
Satisfaction                     object
ReviewHeader                     object
Name                             object
Datetime                         object
VerifiedReview                     bool
ReviewBody                       object
TypeOfTraveller                  object
SeatType                         object
Route                            object
DateFlown                datetime64[ns]
SeatComfort                     float64
CabinStaffService               float64
GroundService                   float64
ValueForMoney                   float64
Recommended                      object
Aircraft                         object
Food&Beverages                  float64
InflightEntertainment           float64
Wifi&Connectivity               float64
dtype: object

In [93]:
data.isnull().sum()

id                          0
Satisfaction                0
ReviewHeader                0
Name                        0
Datetime                    0
VerifiedReview              0
ReviewBody                  0
TypeOfTraveller           771
SeatType                    2
Route                     775
DateFlown                 778
SeatComfort               116
CabinStaffService         127
GroundService             846
ValueForMoney               1
Recommended                 0
Aircraft                 1779
Food&Beverages            386
InflightEntertainment    1150
Wifi&Connectivity        3092
dtype: int64

== Preposesing Data ==

In [94]:
# isi menggunakan missing value dengan KNN imputer pada kolom 'SeatComfort', 'CabinStaffService', 'GroundService', 'ValueForMoney', 'Food&Beverages', 'InflightEntertainment'
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
data[['SeatComfort', 'CabinStaffService', 'GroundService', 'ValueForMoney', 'Food&Beverages', 'InflightEntertainment']] = imputer.fit_transform(data[['SeatComfort', 'CabinStaffService', 'GroundService', 'ValueForMoney', 'Food&Beverages', 'InflightEntertainment']])
data.isnull().sum()

id                          0
Satisfaction                0
ReviewHeader                0
Name                        0
Datetime                    0
VerifiedReview              0
ReviewBody                  0
TypeOfTraveller           771
SeatType                    2
Route                     775
DateFlown                 778
SeatComfort                 0
CabinStaffService           0
GroundService               0
ValueForMoney               0
Recommended                 0
Aircraft                 1779
Food&Beverages              0
InflightEntertainment       0
Wifi&Connectivity        3092
dtype: int64

In [95]:
# menangani missing value pada kolom 'TypeOfTraveller' menggunakan nilai acak dari kolom tersebut
data['TypeOfTraveller'].fillna(data['TypeOfTraveller'].dropna().sample(n=1).values[0], inplace=True)
# tampilkan missing value pada kolom 'TypeOfTraveller'
print(data['TypeOfTraveller'].isnull().sum())
data['TypeOfTraveller'].describe()

0

count               3701
unique                 4
top       Couple Leisure
freq                1771
Name: TypeOfTraveller, dtype: object

In [96]:
# menangani missing value pada kolom 'SeatType' nilai acak dari kolom tersebut
data['SeatType'].fillna(data['SeatType'].dropna().sample(n=1).values[0], inplace=True)
# tampilkan missing value pada kolom 'SeatType'
print(data['SeatType'].isnull().sum())
data['SeatType'].describe()

0

count              3701
unique                4
top       Economy Class
freq               1929
Name: SeatType, dtype: object

In [97]:
# menangani missing value pada kolom 'Route' nilai acak dari kolom tersebut
data['Route'].fillna(data['Route'].dropna().sample(n=1).values[0], inplace=True)
# tampilkan missing value pada kolom 'Route'
print(data['Route'].isnull().sum())
data['Route'].describe()

0

count           3701
unique          1542
top       DUB to LHR
freq             776
Name: Route, dtype: object

In [ ]:
# # Periksa apakah kolom 'DateFlown' berisi NaN
# print("Missing values in 'DateFlown':", data['DateFlown'].isnull().sum())

# # Buat kolom 'DateFlown_numeric' dengan konversi aman
# # Konversi hanya dilakukan untuk baris yang tidak NaN
# data['DateFlown_numeric'] = data['DateFlown'].apply(
#     lambda x: pd.Timestamp(x).timestamp() if pd.notnull(x) else np.nan
# )

# # Pilih fitur numerik untuk KNN imputasi (sertakan 'DateFlown_numeric')
# features = ['SeatComfort', 'CabinStaffService', 'GroundService', 'ValueForMoney', 'DateFlown_numeric']

# # Filter data untuk kolom yang relevan
# knn_data = data[features]

# # Terapkan KNN imputasi
# imputer = KNNImputer(n_neighbors=5)
# knn_imputed = imputer.fit_transform(knn_data)

# # Masukkan kembali hasil imputasi ke dalam dataset
# data['DateFlown_numeric'] = knn_imputed[:, -1]

# # Konversi 'DateFlown_numeric' kembali ke format datetime
# data['DateFlown'] = pd.to_datetime(data['DateFlown_numeric'], unit='s')

# # Hapus kolom 'DateFlown_numeric' jika tidak diperlukan lagi
# data.drop(columns=['DateFlown_numeric'], inplace=True)

# # Lanjutkan proses ekstraksi fitur waktu
# data['Month'] = data['DateFlown'].dt.month
# data['DayOfWeek'] = data['DateFlown'].dt.dayofweek

# # Lakukan one-hot encoding
# data = pd.get_dummies(data, columns=['Month'], prefix='Month')
# data = pd.get_dummies(data, columns=['DayOfWeek'], prefix='DayOfWeek')

# # Verifikasi hasil
# print(data.head())

Missing values in 'DateFlown': 778
   id       Satisfaction                              ReviewHeader  \
0   0  Very Dissatisfied    "Service level far worse then Ryanair"
1   1            Neutral  "do not upgrade members based on status"
2   2       Enthusiastic             "Flight was smooth and quick"
3   3  Very Dissatisfied             "Absolutely hopeless airline"
4   4  Very Dissatisfied        "Customer Service is non existent"

               Name            Datetime  VerifiedReview  \
0           L Keele  19th November 2023            True
1      Austin Jones  19th November 2023            True
2        M A Collie  16th November 2023           False
3        Nigel Dean  16th November 2023            True
4  Gaylynne Simpson  14th November 2023           False

                                          ReviewBody TypeOfTraveller  \
0  4 Hours before takeoff we received a Mail stat...  Couple Leisure
1  I recently had a delay on British Airways from...        Business
2  Boarded on time, but it took ages to get to th...  Couple Leisure
3  5 days before the flight, we were advised by B...  Couple Leisure
4  We traveled to Lisbon for our dream vacation, ...  Couple Leisure

         SeatType                      Route  ... Month_10  Month_11  \
0   Economy Class        London to Stuttgart  ...        0         1
1   Economy Class         Brussels to London  ...        0         1
2  Business Class  London Heathrow to Dublin  ...        0         1
3   Economy Class           London to Dublin  ...        0         0
4   Economy Class           London to Lisbon  ...        0         1

   Month_12  DayOfWeek_0  DayOfWeek_1 DayOfWeek_2 DayOfWeek_3  DayOfWeek_4  \
0         0            0            0           1           0            0
1         0            0            0           1           0            0
2         0            0            0           1           0            0
3         1            0            0           0           1            0
4         0            0            0           1           0            0

   DayOfWeek_5  DayOfWeek_6
0            0            0
1            0            0
2            0            0
3            0            0
4            0            0

[5 rows x 39 columns]

In [99]:
data.isnull().sum()

id                          0
Satisfaction                0
ReviewHeader                0
Name                        0
Datetime                    0
VerifiedReview              0
ReviewBody                  0
TypeOfTraveller             0
SeatType                    0
Route                       0
DateFlown                   0
SeatComfort                 0
CabinStaffService           0
GroundService               0
ValueForMoney               0
Recommended                 0
Aircraft                 1779
Food&Beverages              0
InflightEntertainment       0
Wifi&Connectivity        3092
Month_1                     0
Month_2                     0
Month_3                     0
Month_4                     0
Month_5                     0
Month_6                     0
Month_7                     0
Month_8                     0
Month_9                     0
Month_10                    0
Month_11                    0
Month_12                    0
DayOfWeek_0                 0
DayOfWeek_1                 0
DayOfWeek_2                 0
DayOfWeek_3                 0
DayOfWeek_4                 0
DayOfWeek_5                 0
DayOfWeek_6                 0
dtype: int64

In [100]:
# import tensorflor.keras as keras
# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import StandardScaler